<div style=" align-items: center;">
    <p>
        <a routerLink="/">
            <img style="display: inline;
                  transform: scale(0.7,0.7);" src="assets/img/acindar_logo3.png" routerLink="/"
                pTooltip="Regresar a página de inicio" tooltipPosition="bottom" tooltipStyleClass="toolTipClass">
        </a>
    </p>


</div>

<div style="background-color: #414141;">
    <div
        style="position: relative; width: 100%; border: #441144; margin: auto; margin-top: 0.3rem; margin-bottom: 0rem;">
        <h1 class="" style="color: white; text-align: center;">GESTIÓN DE LABORATORIO DE ENSAYOS FÍSICOS</h1>
    </div>
</div>

<mat-divider style="margin-top: 0rem;"></mat-divider>
<div>
    <img style="display: block; width: 300px; height: 300px; margin: auto;" src="assets/img/404-error.png">

    <div>
    </div>

    <h1 style="font-family: Arial; text-align: center;">Error 404 - Page Not Found</h1>
</div>

<div style="width: 100%;">
    <p style="margin:auto;width: 5rem; position: relative;">
        <p-button [style]="{'width':'4rem','align-items':'center'}" type="button" label="Inicio"
            pTooltip="Regresar a página de inicio" tooltipPosition="bottom" tooltipStyleClass="toolTipClass"
            routerLink="/">
        </p-button>

    </p>

</div>
