<p-toast position="top-right" key="operationStatusInfo"></p-toast>

<app-block-ui *ngIf="isLoadingResults"></app-block-ui>


<div class="p-grid p-flex-column" style="width: 100%;">

    <div class="p-col" style="width: 100%;">
        <p-panel
            [style]="{'width':'93%', 'font-family':'Arial','margin':'auto', 'margin-top':'0.5rem','margin-bottom':'0rem'}"
            [header]="headerTitleLabel" [toggleable]="true" [collapsed]="false">

            <div class="ui-fluid">

                <button id="addButtonIcon" pButton pRipple label="Nuevo" icon="pi pi-plus"
                    class="p-button-success p-mr-2" (click)="HandleAddButton()"></button>
                <button id="deleteButtonIcon" pButton pRipple label="" icon="pi pi-trash" class="p-button-danger"
                    [disabled]="isDeleteItemsDisabled" (click)="HandleDeleteSelectedItems()"></button>

                <button id="excelButtonCrud" (click)="dataTable.exportCSV()" pTooltip="CSV" tooltipPosition="bottom"
                    pButton pRipple label="" icon="pi pi-file-excel"></button>
            </div>
        </p-panel>

    </div>

    <div class="p-col" style="width: 100%; margin-top: 1rem;">

        <p-table #dataTable id="dataTable" [value]="dataTableValues" [rows]="20" [paginator]="true"
            [columns]="listOfColumns" [rowHover]="true" dataKey="id" [paginator]="true" selectionMode=""
            [rowsPerPageOptions]="[10,20,30,50,100]" [(selection)]="selectedRows" dataKey="id"
            [exportFilename]="exportFileName" (onRowSelect)="HandleRowSelect($event)"
            (onRowUnselect)="HandleRowUnSelect($event)"
            [style]="{'width':'93%', 'font-family':'Arial','margin':'auto', 'margin-top':'0rem','margin-bottom':'1.5rem'}"
            currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">

            <!--
                 <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h2 class="p-m-0">Administración de Usuarios</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="usersDataTable.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                </div>
            </ng-template>
            -->

            <ng-template pTemplate="header" let-columns style="padding-right: 0;">
                <tr style="font-family:Arial, Helvetica, sans-serif; text-align:center; padding-right: 0rem;">
                    <th *ngFor="let column of columns" [pSortableColumn]="column.field"
                        [ngStyle]="{'width':column.width}" style="text-align:center;"
                        [pSortableColumnDisabled]="column.field === 'checkBoxSelect' || column.field === 'actionButtons' ">

                        <p-tableHeaderCheckbox *ngIf="column.field === 'checkBoxSelect'"
                            (click)="HandleHeaderCheckBoxClick()"></p-tableHeaderCheckbox>
                        <span *ngIf="column.field != 'checkBoxSelect'">
                            {{column.header}}
                        </span>

                        <p-sortIcon *ngIf="column.field !== 'checkBoxSelect' && column.field !== 'actionButtons'"
                            [field]="column.field">
                        </p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th style="font-family:Arial, Helvetica, sans-serif; text-align:center; "
                        *ngFor="let column of columns">

                        <input [style]="{'width':'90%','text-align':'center'}" pInputText type="text"
                            *ngIf="column.field!=='checkBoxSelect'&&column.field!=='actionButtons'"
                            [(ngModel)]="column.filterValue" [placeholder]="column.header"
                            (input)="HandleIsFilterEmpty($event)"
                            (input)="dataTable.filter($event.target.value, column.field, 'contains')"
                            [value]="dataTable.filters[column.field]?.value">

                    </th>
                </tr>


            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td #tableCell style="text-align: center;" *ngFor="let col of columns;index as i;"
                        id="{{col.field + rowIndex}}">

                        <p-tableCheckbox *ngIf="col.field==='checkBoxSelect'" [value]="rowData">
                        </p-tableCheckbox>

                        <span style="text-align: center;"
                            *ngIf="col.field!=='checkBoxSelect'&&col.field!=='actionButtons'">
                            {{rowData[col.field]}}
                        </span>

                        <div style="width: 100%;">

                            <button style="margin-left: 0%; margin-right: 3rem;" *ngIf="col.field==='actionButtons'"
                                pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="HandleEditItem(rowData)"></button>

                            <button #deleteRowButton *ngIf="col.field==='actionButtons'" pButton pRipple
                                icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="HandleDeleteItem(rowData)"></button>

                        </div>


                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{dataTableValues ? dataTableValues.length : 0 }} configuraciones.
                </div>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td style="text-align:center; height: 2rem;" [attr.colspan]="columns.length">
                        Sin Datos
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>



<p-dialog [keepInViewport]="false" [modal]="true" #AddDialog [blockScroll]="true" [header]="addDialogHeader"
    (onHide)="HandleAddDialogHide($event)" [(visible)]="displayAddDialog" [style]="{width: '30vw'}">
    <p
        style=" align-items: center; display: flex; justify-content:space-evenly; font-family: Arial, Helvetica, sans-serif;">

        <span style="width : 10rem;">
            <label style=" position: relative; font-weight: bold; " for="keyInput">Key: </label>
        </span>

        <span>
            <input [style]="{'color' : '#414141', 'width':'13rem','position':'relative'}" [(ngModel)]="keyValue"
                placeholder="Key" (input)="HandleElementValidation($event,keyInput.value,valueInput.value)"
                pTooltip="Mínimo 4 carácteres" tooltipPosition="bottom" id="keyInput" #keyInput type="text" size="30"
                pInputText />

        </span>



    </p>

    <p
        style="align-items: center;  display: flex; justify-content:space-evenly; font-family: Arial; padding-top: 1rem;">

        <span style="width: 10rem;">
            <label style=" position: relative; font-weight: bold; " for="valueInput">Valor: </label>
        </span>


        <input [style]="{'color' : '#414141', 'width':'13rem','position':'relative'}" [(ngModel)]="value"
            pTooltip="Ingrese el valor del parámetro" tooltipPosition="bottom" placeholder="Valor"
            (input)="HandleElementValidation($event,keyInput.value,valueInput.value)" id="valueInput" #valueInput
            type="text" size="30" pInputText />

    </p>

    <p
        style="align-items: center; margin-bottom: 5rem; display: flex; justify-content:space-evenly; font-family: Arial; padding-top: 1rem; padding-bottom: 1rem;">

        <span style="width: 10rem;">
            <label style=" position: relative; font-weight: bold; " for="modulesDD">Módulo: </label>
        </span>


        <p-dropdown [style]="{'color' : '#414141', 'width':'13rem',
                              'position':'relative'}" id="modulesDD" #modulesDD [options]="modulesOptions"
            appendTo="body" [(ngModel)]="selectedModule" optionLabel="label">
        </p-dropdown>



    </p>

    <p-footer>
        <button type="button" [(disabled)]="isConfirmAddButton" pButton icon="pi pi-check"
            (click)="displayAddDialog=false" (click)="HandleConfirmAddButton()" label="Confirmar">
        </button>
        <button type="button" pButton icon="pi pi-times" (click)="displayAddDialog=false" label="Cancelar"
            class="p-button-secondary">
        </button>
    </p-footer>

</p-dialog>


<p-dialog [keepInViewport]="false" [modal]="true" #EditDialog [blockScroll]="true" [header]="editHeaderDialog"
    [(visible)]="displayEditDialog" [style]="{width: '30vw'}">
    <p
        style=" align-items: center; display: flex; justify-content:space-evenly; font-family: Arial, Helvetica, sans-serif;">

        <span style="width : 10rem;">
            <label style=" position: relative; font-weight: bold; " for="editKeyInput">Key: </label>
        </span>

        <span>
            <input [style]="{'color' : '#414141', 'width':'13rem','position':'relative'}" [(ngModel)]="editKey"
                placeholder="Key" (input)="HandleElementValidation($event,editKeyInput.value,editValueInput.value)"
                pTooltip="Mínimo 4 carácteres" tooltipPosition="bottom" id="editKeyInput" #editKeyInput type="text"
                size="30" pInputText />

        </span>



    </p>

    <p
        style="align-items: center;  display: flex; justify-content:space-evenly; font-family: Arial; padding-top: 1rem;">

        <span style="width: 10rem;">
            <label style=" position: relative; font-weight: bold; " for="editValueInput">Valor: </label>
        </span>


        <input [style]="{'color' : '#414141', 'width':'13rem','position':'relative'}" [(ngModel)]="editValue"
            pTooltip="Valor del parámetro" tooltipPosition="bottom" placeholder="Valor"
            (input)="HandleElementValidation($event,editKeyInput.value,editValueInput.value)" id="editValueInput"
            #editValueInput type="text" size="30" pInputText />

    </p>

    <p
        style="align-items: center; margin-bottom: 5rem; display: flex; justify-content:space-evenly; font-family: Arial; padding-top: 1rem; padding-bottom: 1rem;">

        <span style="width: 10rem;">
            <label style=" position: relative; font-weight: bold; " for="editProfilesDD">Módulo: </label>
        </span>


        <p-dropdown [style]="{'color' : '#414141', 'width':'13rem',
                          'position':'relative'}" id="editmodulesDD" #editmodulesDD [options]="modulesOptions"
            appendTo="body" [(ngModel)]="editSelectedModule" optionLabel="label">
        </p-dropdown>



    </p>

    <p-footer>
        <button type="button" [(disabled)]="isConfirmEditButton" pButton icon="pi pi-check"
            (click)="displayEditDialog=false" (click)="HandleConfirmEditDialogButton()" label="Actualizar"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayEditDialog=false" label="Cancelar"
            class="p-button-secondary"></button>
    </p-footer>

</p-dialog>



<p-dialog modal="true" blockScroll="true" [header]="deleteDialogHeader" [(visible)]="displayDeleteDialog"
    [style]="{width: '35vw'}">

    <div *ngIf="!isDeleteSelectedItemsPressed">
        <span *ngIf="selectedRowItem">Desea eliminar el parámetro :
            <span style="font-weight: bold; color: #ff3700;"> {{selectedRowItem.key}} </span>
            ?</span>

    </div>

    <div *ngIf="isDeleteSelectedItemsPressed">
        <span *ngIf="selectedRows" style="margin-top: 0.6rem;">Desea eliminar los siguiente/s usuario/s ?
            <div *ngFor="let row of selectedRows;index as i;"
                style="margin-top: 0.5rem; text-align: center; font-weight: bold; color: #ff3700; ">
                {{row.key}}
            </div>
        </span>

    </div>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayDeleteDialog=false"
            (click)="HandleDeleteConfirmButton()" (click)="isDeleteSelectedItemsPressed=false"
            label="Confirmar"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayDeleteDialog=false" label="Cancelar"
            (click)="isDeleteSelectedItemsPressed=false" class="p-button-secondary"></button>
    </p-footer>

</p-dialog>
