<!-- <div class="container d-flex flex-column">
    <div class="d-flex justify-content-around">
        <div>
            <h6>Despunte <b>{{impacts.pesoDespunte}}</b></h6>
        </div>
        <div>
            <h6>Descole <b>{{impacts.pesoDescole}}</b></h6>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="text-center mt-3">
            <h5>Impacto en rendimiento metálico</h5>
        </div>
        <div class="d-flex justify-content-around">
            <h5><i class="pi pi-check-circle text-success"></i>{{impacts.porcentDespunte}} %</h5>
            <h5><i class="pi pi-times text-danger"></i> {{impacts.porcentDescole}} %</h5>
        </div>
    </div>
</div> -->
<div class="container d-flex flex-column">
    <div class="d-flex justify-content-around">
        <div>
            <h6>Despunte <b>98</b></h6>
        </div>
        <div>
            <h6>Descole <b>64</b></h6>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="text-center mt-3">
            <h5>Impacto en rendimiento metálico</h5>
        </div>
        <div class="d-flex justify-content-around">
            <h5><i class="pi pi-check-circle text-success"></i>-40 %</h5>
            <h5><i class="pi pi-times text-danger"></i> -36 %</h5>
        </div>
    </div>
</div>
