<div class="container d-flex flex-column">
    <p-panel header="Results">
        <div class="d-flex flex-column gap-5">
            <div class="d-inline">
                <strong>Setup</strong>
                <span>{{Setup}}</span>
            </div>
            <div class="d-inline">
                <strong>Medido</strong>
                <span>{{Medido}}</span>
            </div>
            <div class="d-inline">
                <strong>Medido vs Setup</strong>
                <span>{{MS}}</span>
            </div>
            <div class="d-inline">
                <strong>Receta</strong>
                <span>{{Receta}}</span>
            </div>
        </div>
    </p-panel>
</div>
