/***************************/

/*Export Excel Style Class*/

#excelButtonCrud {
  background-color: #39a671;
  border: #8cb6a2;
  margin-top: 0rem;
  position: relative;
  float: right;
}

#excelButtonCrud:hover {
  background-color: #70a489;
}

#excelButtonCrud:focus {
  -webkit-box-shadow: 0 0 0 0.2em #aae5aa;
  -moz-box-shadow: 0 0 0 0.2em #aae5aa;
  box-shadow: 0 0 0 0.2em #aae5aa;
}
/***************************/
